.App {
  font-size: 20px;
  line-height: 1.45;
}

.content-block {
  padding: 3rem 0 18rem 0;
  margin-left: 12rem;
  margin-right: 2.5rem;
  color: aliceblue;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

.text-block {
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}