:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: relative;
  display: block;
}
